.footer {
    background-color: #d98244;
    color: #ffffff;
    padding: 2rem 4rem;
}

.footerTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    margin-left: 15rem;
    margin-right: 5rem;
}

.footerLeft {
    text-align: center;
}

.logo {
  height: 80px;
  margin-bottom: 0rem;
}

.logoName {
  margin-top: 0;
  color: #e25305;
  font-weight: bold;
}

.footerRight {
  text-align: left;
}

.footerRight .contact {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 14rem;
}

.footerRight p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  margin-left: 12rem;
  font-size: 0.9rem;
}

.footerBottom a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 26rem;
}