.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f0bf9f;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 5.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Individual links */
.navlinks a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.activeLink{
    background-color: #e59361; /* The brownish-orange background */
    color: #333333;
}